

.well {

	
	margin-top:40px;
	text-align:center;
	background-color:#fbd57b;
	border-top:1px solid #f9ba4c;
	border-bottom:1px solid #f9ba4c;
	border-radius:0;
}

.form-control {

	border:1px solid #f9ba4c;
}



p {

	font-size:16px;
}

.form-group.adder  {

	display:block;
	margin-bottom:10px;

}

.spacers {


	margin-top:20px;
}

#answer-show {

	display:none;
	font-weight:bold;
	font-size:24px;
	text-align:center;
}

#error-show {

	display:none;
	color:#cd0303;
	font-size:24px;
	text-align:center;
}




